highchart {
    display: block;
    width: 100%;
    max-width: 100%;
}

#responsive1 {
    display: inline-block;
    background-color: #4588a5;
}
#responsive2{
    display: inline-block;
    background-color: #4588a5;

}

#responsive3{
    display: inline-block;
    background-color: #4588a5;

}

#responsive4{
    display: inline-block;
    background-color: #4588a5;

}

#mainblock1{
    display: inline-block;
    background-color: #7993af;

}

#mainblock2{
    display: inline-block;
    background-color: #7993af;

}

#mainblock3{
    display: inline-block;
    background-color: #7993af;

}


#mainblock4{
    display: inline-block;
    background-color: #7993af;

}


