{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href= "{% static  "style.css" %}" >
    <style>
    .table th, .table td {
        border-top: none !important;
        border-left: none !important;
    }
</style>

</head>
<body>


<div class="container">
        <div align="center">
            <p><h3>
            <table class="table table-borderless">
                <tr>
                    <td> Name : </td>
                    <td> Dhrumil Parmar </td>
                </tr>
                <tr>
                    <td> ASU ID : </td>
                    <td> 1213179381 </td>
                </tr>
                <tr>
                    <td> Contact No : </td>
                    <td> +1 480(278)4470 </td>
                </tr>
                <td> Email Id : </td>
                    <td> dmparmar@asu.edu </td>
                </tr>

            </table></h3></p>

        </div>


</div>

<nav class="navbar navbar-inverse navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Adaptive Cheat Sheet </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/contact_us"> Contact Us</a></li>
      </ul>
  </div>
</nav>

</body>
</html>