{% load static %}

<!doctype html>
<html lang="en" ng-app="mcsas">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="shortcut icon" href="{% static 'favicon.ico' %} "  type="image/x-icon" />
    <link rel="icon" href= "{% static  'favicon.ico' %}"type="image/x-icon" />

    <title>Sticky Notes</title>

    <!-- scripts -->
    <script src="{%static 'jquery.min.js'%}"></script>
    <script src="{%static 'jquery-ui.min.js'%}"></script>
    <script src="{%static 'angular.min.js' %}"></script>
    <script src="{%static 'controllers.js' %}"></script>
    <script src="{%static 'effects.js' %}"></script>

    <!-- styles -->
    <link rel="stylesheet" href="{%static 'reset.css' %}" />
    <link rel="stylesheet" href="{%static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{%static 'stickys.css' %}" />
  </head>

  <body ng-controller="NotesController">

    <!-- Navigation, User Control Panel -->
    <nav>
      <li class="tooltip" data-tip="New Sticky Note" accesskey="n" ng-click="showAddNoteForm()">
          <a class="icon icon-new" ng-click="showAddNoteForm()"></a></li>
      <li class="tooltip" data-tip="Help" accesskey="h" ng-click="toggleHelp()">
          <a class="icon icon-help" ng-click="toggleHelp()"></a></li>
      <li class="tooltip" data-tip="About" accesskey="a" ng-click="showAboutDialog()">
          <a class="icon icon-about" ng-click="showAboutDialog()"></a></li>
      <li class="tooltip" id="trashBin" data-tip="Recycle Bin" accesskey="r" ng-click="toggleRecycleBin()">
          <a class="icon icon-trash" ng-click="toggleRecycleBin()">
              <span class="recycleCount" ng-model="recycle">{{recycle.length}}</span></a></li>
    </nav>

    <!-- the notes -->
    <ul class="clearfix" id="notesContainer">
      <li ng-repeat="note in notes" class="aNote" id="{{ note.date }}" my-post-repeat-directive>
        <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
        <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.date)"></a></p>
        <h1>{{ note.title }}</h1>
        <p class="noteDate">{{ note.date | date:'EEE, MMMM d @ h:mm a' }}</p>
        <p>{{ note.msg }}</p>
      </li>
    </ul>

    <!-- Add note form -->
    <div class="formWrapper" id="formWrapper">
      <form class="form-horizontal" ng-submit="submitNote()">

        <!-- success msg -->
        <p class="success" id="success">Sticky note saved</p>

        <!-- title textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Title</label>
          <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Title"/></div>
        </div>

        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea rows="5" id="noteMessage"  ng-model="noteMessage"></textarea></div>
        </div>


           <!-- Tag textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Tags</label>
          <div class="controls"><input type="text" id="noteTags" ng-model="noteTags" placeholder="Tags"/></div>
        </div>

        <!-- submit button -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"><span aria-hidden="true" class="icon-new"></span> {{submitButton}}</button>
            <button type="button" class="btn btn-danger" id="cancelButton" ng-click="closeAddNoteForm()"><span aria-hidden="true" class="icon-cancel"></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Recycle Bin -->
    <div class="recycleBin" id="recycleBin">
      <div class="rbHeadingWrapper">
        <h1>Recycle Bin</h1>
        <p class="closeRecycleBinIconWrapper"><a class="icon-cancel" ng-click="toggleRecycleBin()"></a></p>
      </div>
      <div class="rbContentWrapper">
        <button type="button" class="btn" ng-click="selectAll()" ng-disabled="rbSelect"><span class="icon-checkbox"></span> {{ rbSelectBtn }}</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="permDelNotes()"><span class="icon-trash-skinny"></span> Delete</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="restoreNote()"><span class="icon-restore"></span> Restore</button>
        <hr />
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in recycle | orderBy:rbOrder">
              <td><input type="checkbox" ng-model="note.selected" ng-change="setChildBtns()" /> {{ note.date | date:'MMM d' }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.msg }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Help -->
    <div class="help" id="help">
      <div class="h1Wrapper">
        <h1>Help</h1>
        <p class="closeHelpIconWrapper"><a class="icon-cancel" ng-click="toggleHelp()"></a></p>
      </div>

      <article>
        <!-- Creating a new Sticky Note -->
        <h2>Creating a New Sticky Note</h2>
        <div>
          <ol>
            <li>
              Click on the "<strong>New Sticky Note</strong>" icon, you will then be
              presented with a form to enter the notes details.
            </li>
            <li>
              In the field labeled "<strong>Note</strong>" is where you can type the
              body of the note.
            </li>
            <li>
              You can optionally give your note a title by typing into the field that
              is labeled "<strong>Title</strong>".
            </li>
            <li>
              Once you are finished typing the title of the note, you can simply press
              the "<strong>enter</strong>" key on your keyboard or click on the
              "<strong>Add</strong>" button.
            </li>
            <li>
              After either pressing the "<strong>enter</strong>" key or clicking on
              the "<strong>Add</strong>" button, you will be presented with a message
              letting you know that your note has been successfully added and the
              form will remove itself from the screen.
            </li>
          </ol>
        </div>

        <!-- Updating a Sticky Note -->
        <h2>Updating a Sticky Note</h2>
        <div>
          <p>
            From time to time you may find it useful to update a sticky note
            that you have previously created. To update a sticky note:
          </p>
          <ol>
            <li>
              <strong>Click on the edit icon</strong> located on the sticky note
              that you wish to update.
            </li>
            <li>
              Upon clicking the edit icon, you will be presented with a form that
              will allow you to edit the notes message and title.
            </li>
          </ol>
        </div>

        <!-- Deleting a Sticky Note -->
        <h2>Deleting a Sticky Note</h2>
        <div>
          <p>
            To delete a sticky note is to simply <strong>click the delete icon</strong>
            located <strong>on the sticky note</strong> itself.
          </p>
        </div>

        <!-- Sorting Notes -->
        <h2>Moving Notes Around</h2>
        <div>
          <p>
            By default when you create a new note, the sticky note is placed on
            the screen after all the other notes. This default sequence will keep
            your notes in chronological order. However, there may be times when
            you wish to move a sticky note to a different position or to arrange
            your notes by a different criteria other then the date. To move a note:
          </p>
          <ol>
            <li><strong>Click and drag</strong> the note you wish to move.</li>
            <li>
              As you are dragging a note around the screen, the other notes will
              start sliding left or right creating a space for you to place the
              note that is being dragged.
            </li>
            <li>
              Once the note is in the desired position, simply <strong>drop the
              note</strong> into its new location.
            </li>
          </ol>
        </div>


      </article>
    </div>

    <!-- About Project-->
    <div class="aboutWindow" id="aboutWindow" title="About Sticky Notes">
      <p class="closeDialogWrapper"><a ng-click="closeAboutDialog()"><span class="icon-cancel"></span></a></p>

      <article>
        <header>
          <h1>Sticky Notes</h1>
          <p class="version">ver 1.2.0</p>
          <p class="tagline">McSas Sticky Notes for modern web browsers.</p>
        </header>

        <hr />

        <p>
          Designed and maintained by
          <a href="https://github.com/spdrcr78" rel="author">Michael Clune</a>
          and <a href="https://github.com/ScottSolomko" rel="author">Scott Solomko</a>.
          This web app is an open source project and is freely available for
          <a href="https://github.com/ScottSolomko/McSas-Sticky-Notes">download on GitHub</a>.
          We created McSas Sticky Notes entirely with other freely available software,
          most of which is also open source.
        </p>

      </article>

      <hr />

      <h2>Technologies, Software and Resources</h2>
      <ul class="technologies clearfix">

      </ul>

      <hr />
    </div>

  </body>
</html>
