{% load static %}

<!doctype html>
<html lang="en" ng-app="mcsas">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %} " type="image/x-icon"/>
    <link rel="icon" href="{% static  'favicon.ico' %}" type="image/x-icon"/>

    <title>Adaptive Note App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- scripts -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui.min.js' %}"></script>
    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'controller2.js' %}"></script>
    <script src="{% static 'effects.js' %}"></script>

    <!-- styles -->
    <link rel="stylesheet" href="{% static 'reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'stickys.css' %}"/>

    <!-- new styles -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href={% static "fonts/font-awesome/css/font-awesome.min.css"%}>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
{#    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>#}
</head>

<body ng-controller="NotesController">

<!-- Navigation, User Control Panel -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Adaptive Cheat Sheets </a>
    </div>
    <ul class="nav navbar-nav">
        <li >
        <a class="icon fa fa-user" href="/personal" > My Notes </a></li>
        <li ng-click="showAddNoteForm()">
        <a class="icon fa fa-plus" ng-click="showAddNoteForm()"> Add Note </a></li>
        <li  ng-click="toggleHelp()">
        <a class="icon fa fa-info" ng-click="toggleHelp()"> Help </a></li>
        <li ng-click="toggleRecycleBin()">
        <a class="icon fa fa-recycle" ng-click="toggleRecycleBin()">
            <span class="recycleCount" ng-model="recycle">{{ recycle.length }}</span>Recycle Bin</a></li>
    </ul>
      <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="object"
                   id="object" onkeyup="searchOpen()" >
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
  </div>
</nav>

<!-- the notes -->

<ul class="clearfix" id="notesContainer">
    <li ng-repeat="note in notes | limitTo:40" class="aNote" id="{{ note.note_id }}" my-post-repeat-directive>
        <p><a class="editNote fa fa-pencil-square fa-2x" title="edit" ng-click="showEditNoteForm(note)"></a></p>
        <p><a class="deleteNote fa fa-trash fa-2x" title="delete" ng-click="animateDeleteNote(note.note_id)"></a></p>
        <h1 ng-bind="note.title"></h1>
        <div><button ng-bind="note.tag"></button></div>
        <p ng-bind="note.content">{{ note.content }}</p>

    </li>
</ul>

<!-- Add note form -->
<div class="formWrapper" id="formWrapper">
    <form class="form-horizontal" ng-submit="submitNote()">

        <!-- success msg -->
        <p class="success" id="success">Sticky note saved</p>

        <!-- title textbox -->
        <div class="control-group">
            <label class="control-label" for="noteTitle">Title</label>
            <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Title"/></div>
        </div>

        <!-- note body textarea -->
        <div class="control-group">
            <label class="control-label" for="noteMessage">Note</label>
            <div class="controls"><textarea rows="5" id="noteMessage" ng-model="noteMessage" ></textarea></div>
        </div>

        <!-- Tag textbox -->
        <div class="control-group">
            <label class="control-label" for="noteTitle">Tags</label>
            <div class="controls"><input type="text" id="noteTags" ng-model="noteTags" placeholder="Tags"/></div>
        </div>
{#        add new way to add tags, commented tags script#}

        <!-- submit button -->
        <div class="control-group">
            <div class="controls" style="text-align: center;"><br>
                <button type="submit" class="btn btn-primary" id="newnotebutton" ng-click ="flashSuccessSave()"><span aria-hidden="true" class="icon-new"></span>  Submit </button>
                <button type="button" class="btn btn-danger" id="newnotebutton" ng-click="closeAddNoteForm()"><span aria-hidden="true" class="icon-cancel"></span>  Cancel </button>
            </div>
        </div>
    </form>
</div>

<!-- Recycle Bin -->
<div class="recycleBin" id="recycleBin">
    <div class="rbHeadingWrapper">
        <h1>Recycle Bin</h1>
        <p class="closeRecycleBinIconWrapper"><a class="icon-cancel" ng-click="toggleRecycleBin()"></a></p>
    </div>
    <div class="rbContentWrapper">
        <button type="button" class="btn" ng-click="selectAll()"  ng-bind="rbSelectBtn"><span
                class="icon-checkbox"></span> </button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="permDelNotes()"><span
                class="icon-trash-skinny"></span> Delete
        </button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="restoreNote()"><span
                class="icon-restore"></span> Restore
        </button>
        <hr/>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="note in recycle | orderBy:rbOrder">
                <td><input type="checkbox" ng-model="note.selected"
                           ng-change="setChildBtns()"/> {{ note.note_id }}</td>
                <td ng-bind="note.title">{{ note.title }}</td>
                <td ng-bind="note.tag">{{ note.tag }}</td>
                <td ng-bind="note.content">{{ note.content }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Help -->
<div class="help" id="help">
    <div class="h1Wrapper">
        <h1>Help</h1>
        <p class="closeHelpIconWrapper"><a class="icon-cancel" ng-click="toggleHelp()"></a></p>
    </div>


    <article>
        <!-- Creating a new Sticky Note -->
        <h2>Most upvoted notes</h2>
        <ul class="clearfix" id="notesContainer">
            <li ng-repeat="note in upvotednotes" class="aNote" id="{{ note.note_id }}" my-post-repeat-directive>
                <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
                <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.note_id)"></a></p>
                <h1 ng-bind="note.title"></h1>
                <p ng-bind="note.content"></p>
                <div>
                    <button ng-bind="note.tag"></button>
                </div>
            </li>
        </ul>


        <!-- Updating a Sticky Note -->
        <h2>Most Trending notes</h2>
        <div>
            <ul class="clearfix" id="notesContainer">
            <li ng-repeat="note in upvotednotes" class="aNote" id="{{ note.note_id }}" my-post-repeat-directive>
                <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
                <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.note_id)"></a></p>
                <h1 ng-bind="note.title"></h1>
                <p ng-bind="note.content"></p>
                <div>
                    <button ng-bind="note.tag"></button>
                </div>
            </li>
        </ul>
        </div>

        <!-- Deleting a Sticky Note -->
        <h2>Notes that you may like</h2>
        <div>
           <ul class="clearfix" id="notesContainer">
            <li ng-repeat="note in notes" class="aNote" id="{{ note.note_id }}" my-post-repeat-directive>
                <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
                <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.note_id)"></a></p>
                <h1 ng-bind="note.title"></h1>
                <p ng-bind="note.content"></p>
                <div>
                    <button ng-bind="note.tag"></button>
                </div>
            </li>
        </ul>
        </div>

        <!-- Sorting Notes -->
        <h2>Most recent notes</h2>
        <div>
             <ul class="clearfix" id="notesContainer">
            <li ng-repeat="note in notes" class="aNote" id="{{ note.note_id }}" my-post-repeat-directive>
                <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
                <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.note_id)"></a></p>
                <h1 ng-bind="note.title"></h1>
                <p ng-bind="note.content"></p>
                <div>
                    <button ng-bind="note.tag"></button>
                </div>
            </li>
        </ul>
        </div>


    </article>
</div>

<!-- About Project-->
<div class="aboutWindow" id="aboutWindow" title="About Sticky Notes">
    <p class="closeDialogWrapper"><a ng-click="closeAboutDialog()"><span class="icon-cancel"></span></a></p>

    <article>
        <header>
            <h1>Sticky Notes</h1>
            <p class="version">ver 1.2.0</p>
            <p class="tagline">McSas Sticky Notes for modern web browsers.</p>
        </header>

        <hr/>

        <p>
            Completed as part of ASU CSE: Adaptive Web Project.<br>
            Members: Prit Seth, Pravin Chaudhary, Dhrumil Parmar, Jainesh Kothari
        </p>

    </article>

    <hr/>

    <h2>Technologies, Software and Resources</h2>
    <ul class="technologies clearfix">

    </ul>

    <hr/>
</div>

</body>

<script>

   function searchOpen() {
    var search = $('#object').val();
    var data = {
        search: search
    };
    $.ajax({
        url: '/api/autocomplete/',
        data: data,
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: 'searchResult'
    });
}


function searchResult(data) {
    $( "#object" ).autocomplete ({
        source: data
    });
}
</script>
</html>
