<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Register Form </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div id = 'register' class="container">
    <h2> Register Form </h2>
    <form action="" method ="POST">
        <div class="form-group">
        <label > Name : </label>
        <input id="name" name="name" placeholder="Enter Name" type="text" class="form-control"> <br><br>
        </div>
        <div class="form-group">
        <label> Username : </label>
        <input id="username" name="username" placeholder="Enter Username" type="text" class="form-control"> <br><br>
        </div>
        <div class="form-group">
        <label> Password : </label>
        <input id="password" name="password" placeholder="Enter Password" type="password" class="form-control"> <br><br>
        </div>
        <input name="submit" type="submit" value=" Submit " class="btn btn-default">

    </form>
</div>
</div>
<nav class="navbar navbar-inverse navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> StackOverflow User Activity Tracker </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/contact_us"> Contact Us</a></li>
      </ul>
  </div>
</nav>

</body>
</html>