{% load static %}

<!doctype html>
<html>
<head>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
          rel="stylesheet"/>

    <link href= "{% static 'highcharts-ng.css' %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="{% static 'highcharts-ng.js' %}"></script>
    <script src="{% static 'userchart.js' %}"></script>
</head>
<body>
<h2>User Activity Graph</h2>

<div ng-app="myapp">
    <!--All Activity Chart for plotting login activities with respect to activity type-->

    <div ng-controller="AllActivityController" ng-init="initForActivity()">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <highchart id="chart1" config="chartConfig" class="span9"></highchart>
                </div>
            </div>
            <div class="span2 well" id="mainblock1">
                <div class="row-fluid">
                    <input type="text" placeholder="New Username" ng-model="newUser"/>
                    <button ng-click="addSeries()">Add Graph of User</button>
                </div>
                <div class="row-fluid">Width <input type="number" ng-model="chartConfig.chart.width"/></div>
                <div class="row-fluid">Height <input type="number" ng-model="chartConfig.chart.height"/></div>
                <div class="row-fluid">Default Type <select ng-model="chartConfig.chart.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                </div>
                <div class="row-fluid">Stack <select ng-model="chartConfig.plotOptions.series.stacking"
                                                     ng-options="t.id as t.title for t in chartStack"></select></div>
            </div>


            <div ng-repeat="ser in chartSeries">
                <div class="span1"></div>

                <div class="span4">
                    <div class="span7 well" id="responsive1">

                        <div class="row-fluid"><h4>Series {{ ser.name }}</h4></div>
                        <div class="row-fluid">Type <select ng-model="ser.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                        </div>
                        <div class="row-fluid">Width <input ng-model="ser.lineWidth"/></div>
                        <br></br>
                        <div class="row-fluid">Dash Style <select ng-model="ser.dashStyle"
                                                                  ng-options="ds.id as ds.title for ds in dashStyles"></select>
                        </div>
                        <div class="row-fluid">
                            <button ng-click="removeSeries($index)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Login Activity Chart for plotting login activity counter with respect to datetime-->

    <div ng-controller="LoginActivityController" ng-init="initForLoginActivity()">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <highchart id="chart2" config="chartConfig" class="span12"></highchart>
                </div>
            </div>

            <div class="span2 well" id="mainblock2">
                <div class="row-fluid">
                    <input type="text" placeholder="New Username" ng-model="newUser"/>
                    <button ng-click="addSeries()">Add Graph of User</button>
                </div>

                <div class="row-fluid">
                    <input type="text" placeholder="Year filter" ng-model="year"/>
                    <button ng-click="addSeriesOfYear()">Get graph of this year</button>
                </div>

                <div class="row-fluid">Width <input type="number" ng-model="chartConfig.chart.width"/></div>
                <div class="row-fluid">Height <input type="number" ng-model="chartConfig.chart.height"/></div>
                <div class="row-fluid">Default Type <select ng-model="chartConfig.chart.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                </div>
                <div class="row-fluid">Stack <select ng-model="chartConfig.plotOptions.series.stacking"
                                                     ng-options="t.id as t.title for t in chartStack"></select></div>

                <!--<div>Min: <input type="number" ng-model="chartConfig.xAxis.currentMin"/></div>-->
                <!--<div>Max: <input type="number" ng-model="chartConfig.xAxis.currentMax"/></div>-->
            </div>


            <div ng-repeat="ser in chartSeries">
                <div class="span1"></div>
                <div class="span4">
                    <div class="span7 well" id="responsive2">

                        <div class="row-fluid"><h4>Series {{ ser.name }}</h4></div>
                        <div class="row-fluid">Type <select ng-model="ser.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                        </div>
                        <div class="row-fluid">Width <input ng-model="ser.lineWidth"/></div>
                        <br></br>
                        <div class="row-fluid">Dash Style <select ng-model="ser.dashStyle"
                                                                  ng-options="ds.id as ds.title for ds in dashStyles"></select>
                        </div>
                        <div class="row-fluid">
                            <button ng-click="removeSeries($index)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Explored Activity Chart for plotting login activity counter with respect to topic-->

    <div ng-controller="ExploredTopicActivityController" ng-init="initForLoginActivity()">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <highchart id="chart2" config="chartConfig" class="span12"></highchart>
                </div>
            </div>

            <div class="span2 well" id="mainblock3">
                <div class="row-fluid">
                    <input type="text" placeholder="New Username" ng-model="newUser"/>
                    <button ng-click="addSeries()">Add Graph of User</button>
                </div>
                <div class="row-fluid">Width <input type="number" ng-model="chartConfig.chart.width"/></div>
                <div class="row-fluid">Height <input type="number" ng-model="chartConfig.chart.height"/></div>
                <div class="row-fluid">Default Type <select ng-model="chartConfig.chart.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                </div>
                <div class="row-fluid">Stack <select ng-model="chartConfig.plotOptions.series.stacking"
                                                     ng-options="t.id as t.title for t in chartStack"></select></div>

            </div>

            <div ng-repeat="ser in chartSeries">
                <div class="span1"></div>
                <div class="span4">
                    <div class="span7 well" id="responsive3">

                        <div class="row-fluid"><h4> {{ ser.name }}</h4></div>
                        <div class="row-fluid">Type <select ng-model="ser.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                        </div>
                        <div class="row-fluid">Width <input ng-model="ser.lineWidth"/></div>
                        <br></br>
                        <div class="row-fluid">Dash Style <select ng-model="ser.dashStyle"
                                                                  ng-options="ds.id as ds.title for ds in dashStyles"></select>
                        </div>
                        <div class="row-fluid">
                            <button ng-click="removeSeries($index)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="PercentageTopicController" ng-init="initForLoginActivity()">
        <div class="row-fluid">
            <div class="span12">
                <div class="row">
                    <highchart id="chart2" config="chartConfig" class="span12"></highchart>
                </div>
            </div>

            <div class="span2 well" id="mainblock4">
                <div class="row-fluid">
                    <input type="text" placeholder="New Username" ng-model="newUser"/>
                    <button ng-click="addSeries()">Add Graph of User</button>
                </div>
                <div class="row-fluid">Width <input type="number" ng-model="chartConfig.chart.width"/></div>
                <div class="row-fluid">Height <input type="number" ng-model="chartConfig.chart.height"/></div>
                <div class="row-fluid">Default Type <select ng-model="chartConfig.chart.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                </div>
                <div class="row-fluid">Stack <select ng-model="chartConfig.plotOptions.series.stacking"
                                                     ng-options="t.id as t.title for t in chartStack"></select></div>

            </div>

            <div ng-repeat="ser in chartSeries">
                <div class="span1"></div>
                <div class="span4">
                    <div class="span7 well" id="responsive4">

                        <div class="row-fluid"><h4> {{ ser.name }}</h4></div>
                        <div class="row-fluid">Type <select ng-model="ser.type"
                                                            ng-options="t.id as t.title for t in chartTypes"></select>
                        </div>
                        <div class="row-fluid">Width <input ng-model="ser.lineWidth"/></div>
                        <br></br>
                        <div class="row-fluid">Dash Style <select ng-model="ser.dashStyle"
                                                                  ng-options="ds.id as ds.title for ds in dashStyles"></select>
                        </div>
                        <div class="row-fluid">
                            <button ng-click="removeSeries($index)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>
